.dashboard_section {
  width: 100%;
  min-height: 100vh;
  background: #121212;
  padding: 100px 0px;
}
.dashboard_container {
  width: 80%;
  margin: auto;
  color: white;
}
.dashboard_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.dashboard_btn_container button {
  background: gray;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
}
